.nav>li>a {
    font-size: 20px;
    color: white;
    font-weight: 600px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 30px !important;
    color: white !important;
}

@media(min-width: 990px) {
    .short-name {
        display: none;
    }
    
    
    .dropdown-menu {
        min-width: 0px; 
    }
}

@media(max-width: 990px) {
    .short-name {
        color: white;
    }
    
    .dropdown-menu {
        min-width: 0px; 
    }
}