<nav class="navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
            <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle short-name" data-toggle="dropdown" role="button">{{currentUser | uppercase}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" (click)="logout()">ପ୍ରସ୍ଥାନ</a>
                    </li>
                </ul>
            </li>
        <a class="navbar-brand" href="#">ଅଖଣ୍ଡ ଓଡ଼ିଶା
            <sub>ଦାବି ତାଲିକା</sub>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li *ngFor="let item of menuItems">
                <a href="#">{{item | uppercase}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="currentUser != null">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{currentUser | uppercase}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" (click)="logout()">ପ୍ରସ୍ଥାନ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>